.mainNav{
    background-color: #404040;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navLogo{
    height: 53px;
    width: auto;
    padding-top: 6px;
    padding-left: 15px;
}

.leftSide{
    padding-top: 2px;
    display: flex;
    align-items: center;
}

.searchField{
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn{
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 5px;
}

.search{
    display: inline;
    margin-bottom: 10px;
}

.icons{
    padding-right: 20px;
    display: flex;
}

a{
    padding: 10px ;
}

.like{
    
}

.personIcon{
    
}

.profileDropdown{
    color: black;
    background-color: #404040;
    position: absolute;
    width: 200px;
    height: auto;
}

.prsonDropData{
    background-color: blue;
    color: black;
    z-index: 10;
}