.mainNav{
    background-color: #404040;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navLogo{
    height: 53px;
    width: auto;
    padding-top: 6px;
    padding-left: 15px;
}

.leftSide{
    padding-top: 2px;
    display: flex;
    align-items: center;
}

.rightSide{
    display: flex;
    align-items: center;
    width: 100%;
}

.searchField{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

.search{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.6rem;
    width: 20%;
}

.loginLogoutBtn{
    padding: 0;
    margin: 0;
    color: white;
    background-color: #404040;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0rem 0.5rem;
}

.personLogoutBtn{
    font-size: large;
    background-color: white;
    border: none;
}